body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.main-container{
    color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
}
/* text typing animation */
.typing-effect{
    width: 100%;
    letter-spacing: 4px;
    /* animation: typing 3s steps(33)infinite , blink .3s step-end infinite alternate ; */
    animation: typing 3s;
    white-space: nowrap;
    overflow: hidden;
    font-family:roboto condensed;
}
.dot-blink{
    animation: blink .5s infinite ;
}


@keyframes typing {
    from{
        width: 0ch;
    }
    to{
        border-right: none;
    } 
    /* 60%{
        width: 100%;
    } */
}

@keyframes blink{
    50%{
        color: red;
    }
}
/* text typing animation ends here */
.enter-button{
    border: none;
    border-bottom: 3px solid red;
    background-color: transparent;
    color: rgb(153, 153, 153);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.kreeyaa-title{
    filter: brightness(0.9);
    animation: tubelight .5s linear forwards;
    animation-delay: 2s;
}

@keyframes tubelight {
    from{
        filter: brightness(0);
    }
    10%{
        filter: brightness(0.2);
    }
    20%{
        filter: brightness(1);
    }
    50%{
        filter: brightness(0.2);
    }
    100%{
       filter: brightness(1);
    }
    to{
        color: white;
        filter: brightness(1);
    }

    
}